<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel="tests" thread-count="3">

  <test name="Test1">
  	<parameter name="browserName" value="chrome"></parameter>
    <classes>
      <class name="base.BaseTests"/>
      <class name="Musala_ContactUs.Musala_ContactUs_Tests"/>
      <class name="Musala_Careers.Musala_Careers_Test"/>
      <class name="Musala_Company.Musala_Company_Test"/>
    </classes>
  </test> <!-- Test1 -->
  
<!--   <test name="Test2">
  	<parameter name="browserName" value="chrome"></parameter>
    <classes>
      <class name="base.BaseTests"/>
      <class name="Musala_ContactUs.Musala_ContactUs_Tests"/>
      <class name="Musala_Careers.Musala_Careers_Test"/>
      <class name="Musala_Company.Musala_Company_Test"/>
    </classes>
  </test> Test2 -->
  
<!--   <test name="Test3">
  	<parameter name="browserName" value="chrome"></parameter>
    <classes>
      <class name="base.BaseTests"/>
      <class name="Musala_ContactUs.Musala_ContactUs_Tests"/>
      <class name="Musala_Careers.Musala_Careers_Test"/>
      <class name="Musala_Company.Musala_Company_Test"/>
    </classes>
  </test> Test3 -->
  
</suite> <!-- Suite1 -->
